@use "../variables/color-variables";

.grid-container {
  background-color: color-variables.$grid-background-color;
  width: 90vw;
  height: 400px;
  border: 2px solid #000;
}
.cell {
  border: 1px solid color-variables.$main-background-color;
  width: 10px;
  height: 10px;
}

.cell--alive {
  background-color: color-variables.$gird-main-color;
}
